*egg-info
*ipynb_checkpoints
*__pycache__*

1. BEV/data
1. BEV/results
2. Neuron/data
2. Neuron/results
3. CSV/data
3. CSV/results
4. Sorting/data/*
4. Sorting/results
5. Features/data
5. Features/results
6. Combine/data
6. Combine/results

